<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
<label>Name:</label>
<input type="text" id="name" name="user[name]"><br>
<label>Email:</label>
<input type="text" id="email" name="user[email]"><br>
<label>Password:</label>
<input type="text" id="password" name="user[password]"><br>
<input type="submit" value="Sign Up">
</form>

